{% extends "header.html" %}
{% load static %}

{% block content %}
    <!-- about section -->
			<section class="about-me" id="about">
				<div class="container" data-aos="fade-up">
					<img src="{% static 'img/williams.jpg' %}" alt="Om Patel" class="img-fluid" />
					<article>
						<p class="subtitle">Who is Om Patel?</p>
						<h2 class="title">A Bit About Me</h2>
						<div class="about">
							<p>
								I'm Aspiring backend developer with hands-on experience in Python and Django, aiming to contribute to building robust and scalable 
web solutions while growing with a progressive organization. Passionate about learning new technologies, improving coding 
efficiency, solving real-world problems. Eager to collaborate in dynamic teams to deliver high-quality software applications.
							</p>
							<p>
								When I'm not trying to build, learning and thinking
								about how to make things better 😉,  you can catch me watching or playing
								cricket matches 🏏.
							</p>
							<br>
							<br>
							
							<p>
								Contact     : 9104564585 <br>
								Email - id  : contact.ompatel03@gmail.com
	
							</p>
							
						</div>
					</article>
				</div>
			</section>

{% endblock %}