{% extends "header.html" %}
{% load static %}

{% block content %}

			<!-- contact section -->
			<section class="contact" data-aos="fade-up">
				<div class="container">
					<p class="subtitle"><b>Intern – Python Django Developer  </b></p>
					<p class="subtitle">CreArt Solutions Pvt. Ltd. | 15-Day Internship   </p>
					
					<p class="info">
						-- Developed mini web application using Python, Django, HTML, CSS, and Bootstrap. <br>
						-- Implemented user authentication, CRUD operations, and database management with MySQL. <br>
						-- Gained practical experience in debugging, optimizing views, and collaborating in a team environment. 
					</p>

					<div>
						<a href="https://mail.google.com/mail/?view=cm&fs=1&to=contact.ompatel03@gmail.com" class="mail-link hover-effect"
							>Get in touch →</a>
						<!-- <small>(or copy) samwill300@gmail.com</small> -->
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>	


					</div>
				</div>
			</section>

{% endblock  %}