{% extends "header.html" %}
{% load static %}

{% block content %}

			<!-- projects section -->
			<section class="projects-section" id="projects">
				<div class="container">
					<article data-aos="fade-up">
						<p class="subtitle">My projects</p>
						<h2 class="title">Some Projects I Built</h2>
						<p class="info">
							
					</article>
					<section class="projects">
						<!-- 01 -->
						<article class="project">
							<a
								href="https://www.lavidluxe.com/"
								target="_blank"
								rel="noreferrer"
								class="project-img"
								><img
									src="{% static 'img/lavidluxe.jpeg' %}"
									alt="the movieflix screenshot"
									title="the/movieflix"
							/></a>
							<div>
								<h3>01</h3>
								<h2>Lavidluxe Clothings</h2>
								<p>
									An ecommerce store for Lavidluxe clothings. Lavidluxe is a premium bespoke and ready-to-wear brand that provides high-quality yet affordable female and male wears, hoodies and joggers co-ord sets, luxury handmade unisex footwear and bags.
								</p>
								<ul class="tech-stack">
									<li>Next Js</li>
									<li>Tailwind CSS</li>
									<li>Tanstack Query</li>
									<li>Sanity CMS</li>
									<li>Paystack</li>
									<li>Nodemailer</li>
									<li>Zustand and Jotai</li>
								</ul>
								<ul class="project-links">
									<li>
										<a
											href="https://www.lavidluxe.com/"
											target="_blank"
											rel="noreferrer"
											class="hover-effect"
											>Live Site →</a
										>
									</li>
									<li>
										<a
											href="https://github.com/williamssam/lavidluxe-client"
											target="_blank"
											rel="noreferrer"
											class="hover-effect"
											>Github →</a
										>
									</li>
								</ul>
							</div>
						</article>

						<!-- 02 -->
						<article class="project">
							<a
								href="https://themovieflix.netlify.app/"
								target="_blank"
								rel="noreferrer"
								class="project-img"
								><img
									src="{% static 'img/movieflix.jpg' %}"
									alt="the movieflix screenshot"
									title="the/movieflix"
							/></a>
							<div>
								<h3>02</h3>
								<h2>The MovieFlix</h2>
								<p>
									View trending, popular etc movies/tv series before deciding on
									what to watch 😉. With similar & recommended movies/tv series,
									you can add movies to your wishlist.
								</p>
								<ul class="tech-stack">
									<li>React Js</li>
									<li>SWR (useSWR)</li>
									<li>Context Api (useContext)</li>
									<li>Firebase</li>
									<li>React Hook Form</li>
									<li>Framer Motion</li>
								</ul>
								<ul class="project-links">
									<li>
										<a
											href="https://themovieflix.netlify.app/"
											target="_blank"
											rel="noreferrer"
											class="hover-effect"
											>Live Site →</a
										>
									</li>
									<li>
										<a
											href="https://github.com/williamssam/the-movieflix"
											target="_blank"
											rel="noreferrer"
											class="hover-effect"
											>Github →</a
										>
									</li>
								</ul>
							</div>
						</article>

						<!-- 03 -->
						<article class="project">
							<a
								href="https://gh-profiles.netlify.app/"
								target="_blank"
								rel="noreferrer"
								class="project-img"
								><img
									src="{% static 'img/gh-profile.jpg' %}"
									alt="github profile website screenshot"
									title="github profile"
							/></a>
							<div>
								<h3>03</h3>
								<h2>Github Profile</h2>
								<p>
									A better and interesting look at your github profile which
									includes data visualization of your top languages, starred
									repos, stars per language and sort your top repos according to
									the number of forks, stars and size.
								</p>
								<ul class="tech-stack">
									<li>React & Typescript</li>
									<li>Github GraphQL Api</li>
									<li>Styled Component</li>
									<li>Chart Js</li>
									<li>Github Polyghot</li>
								</ul>
								<ul class="project-links">
									<li>
										<a
											href="https://gh-profiles.netlify.app/"
											target="_blank"
											rel="noreferrer"
											class="hover-effect"
											>Live Site →</a
										>
									</li>
									<li>
										<a
											href="https://github.com/williamssam/github-profile"
											target="_blank"
											rel="noreferrer"
											class="hover-effect"
											>Github →</a
										>
									</li>
								</ul>
							</div>
						</article>


						<!-- 04 -->
						<article class="project">
							<a
								href="https://themovieflix.netlify.app/"
								target="_blank"
								rel="noreferrer"
								class="project-img"
								><img
									src="{% static 'img/movieflix.jpg' %}"
									alt="the movieflix screenshot"
									title="the/movieflix"
							/></a>
							<div>
								<h3>04</h3>
								<h2>The MovieFlix</h2>
								<p>
									View trending, popular etc movies/tv series before deciding on
									what to watch 😉. With similar & recommended movies/tv series,
									you can add movies to your wishlist.
								</p>
								<ul class="tech-stack">
									<li>React Js</li>
									<li>SWR (useSWR)</li>
									<li>Context Api (useContext)</li>
									<li>Firebase</li>
									<li>React Hook Form</li>
									<li>Framer Motion</li>
								</ul>
								<ul class="project-links">
									<li>
										<a
											href="https://themovieflix.netlify.app/"
											target="_blank"
											rel="noreferrer"
											class="hover-effect"
											>Live Site →</a
										>
									</li>
									<li>
										<a
											href="https://github.com/williamssam/the-movieflix"
											target="_blank"
											rel="noreferrer"
											class="hover-effect"
											>Github →</a
										>
									</li>
								</ul>
							</div>
						</article>
				</div>
			</section>

{% endblock  %}