{% extends "header.html" %}
{% load static %}

{% block content %}

			<!-- my skills -->
			<section class="my-skills" id="skills" data-aos="fade-up">
				<div class="container">
					<article>
						<p class="subtitle">My Skills</p>
						<h2 class="title">Technologies I Work With</h2>

						<p class="info">
							I've learned and worked on many Technologies and Tools, currently getting my
							hands dirty with
							<strong>Python & Django</strong> and here are a few
							technologies I’ve been working with recently :
						</p>
					</article>
					<ul class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-2">
						<li class="col">C</li>
						<li class="col">Python</li>
						<li class="col">Django</li>
						<li class="col">HTML</li>
						<li class="col">CSS</li>
						<li class="col">Javascript</li>
						<li class="col">MySQL</li>
						<li class="col">Git</li>
						<li class="col">GitHub</li>
						<li class="col">VS Code</li>
					</ul>
					<br>
					<br>
				</div>
			</section>

{% endblock  %}