{% extends "header.html" %}
{% load static %}

{% block content %}

			<!-- my skills -->
			<section class="my-skills" id="skills" data-aos="fade-up">
				<div class="container">
					<article>
						<p class="subtitle">My Skills</p>
						<h2 class="title">Technologies I Work With</h2>

						<p class="info">
							I've learned and worked on many Technologies and Tools, currently getting my
							hands dirty with
							<strong>Python & Django</strong> and here are a few
							technologies I’ve been working with recently :
						</p>
					</article>
					<ul>
						<li>C</li>
						<li>Python</li>
						<li>Django</li>
						<li>HTML</li>
						<li>CSS</li>
						<li>Javascript</li>
						<li>MySQL</li>
						<li>Git</li>
						<li>GitHub</li>
						<li>VS Code</li>	
					</ul>
					<br>
					<br>
				</div>
			</section>

{% endblock  %}